numpy
netcdf4
xarray
pandas
matplotlib
altair
streamlit
millify
fair
streamlit-extras==0.4.3
git+https://github.com/FixOurFood/AgriFoodPy.git
git+https://github.com/FixOurFood/agrifoodpy-data.git@importable