numpy
netcdf4
xarray
pandas
matplotlib
altair
streamlit
millify
fair
streamlit-modal
streamlit-extras
git+https://github.com/FixOurFood/AgriFoodPy.git
git+https://github.com/FixOurFood/agrifoodpy-data.git@importable